html {
    font-size: 16px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.125rem;
    color: white;
    font-weight: 400;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.625rem;
    color: white;
    font-weight: 400;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: aquamarine;
    font-weight: 400;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3125rem;
    color: grey;
    font-weight: 400;
}

a {
    color: aquamarine;
}

body {
    background-color: black;
}

/* Title ------------------------------------------------------------------ */

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}

/* Main Content ------------------------------------------------------------*/

.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 30rem;
}

#phone-icon {
    padding-top: 1.5rem;
}

/* Footer ----------------------------------------------------------------- */

.footer {
    width: 100%;
    text-align: end;
}

i {
    color: grey;
    display: inline;
}

#excursion {
    display: inline;
}